name: Android CI

on:
  push:
    branches:
      - master-switch-edit

jobs:
  build:
    name: Development build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'gradle'

      - name: Restore SonarCloud packages cache
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

     # - name: Run unit tests
     #   run: ./gradlew test --stacktrace

      - name: Build with Gradle
        run: ./gradlew assembleDebug -x lint

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
           name: AdAway-dev
           path: app/build/outputs/apk/*
      
